extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/about.css')

block content
	.leftcontent
		h2= "Mackenzie Mittereder"
		h3= "Mobile App Developer"
		p= ""
	.rightcontent
		img.pc(src="/images/pc.jpg")
		.pctext
			p.pctitle= "Computer Specifications"
			p= "Motherboard: ASRock Z97 Extreme 8"
			p= "CPU: Intel i7 4790k"
			p= "Cooler: NZXT Kraken x61"
			p= "RAM: 32gb G.Skill Ripjaws X Series"
			p= "GPU: x2 Red Devil Radeon RX 480 8gb DDR5"
			p= "PSU: CoolerMaster 1000 Watt"
