extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/franklinregional.css')

block content
	p.title= "Franklin Regional"
	img.icon(src="/images/fricon.png")
	p.description
		empty Created senior year of high school for Android using Eclipse. I developed this app to make it easier to view the Franklin
		Regional school district website and bypass thier mobile version. Push notifications were also implemented using hte Parse api
		to alert users of delays and cancellations. This app uses a master detail view for a slide out menu and a webview to
		display the different webpages.
	hr.seperator

	.content
		.firstrow
			img.mainwebview(src="/images/fr1.png")
			p.mainwebview= "This is the home page of the Franklin Regional website and the first page you are greeted with."
			img.mainmenu(src="/images/fr2.png")
			p.mainmenu= "The main menu slides out from the side by either a swipe geasture or by tappig the icon in the top left corner."

		.secondrow
			img.mainmenu2(src="/images/fr3.png")
			p.mainmenu2= "These are other links that people might be interested in visiting."
			img.hsview(src="/images/fr4.png")
			p.hsview= "This is an example of the user navigating to the high school's webpage."

		.thirdrow
			img.eleview(src="/images/fr5.png")
			p.eleview= "This is an exmample of the user navigating to one of the elementary school's webpage."
			img.prefs(src="/images/fr6.png")
			p.prefs= "This is the settings page where the user has the option to view the webpage as a desktop or as a mobile view."
