extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/index.css')

block content
	p.name= "Mackenzie Mittereder"
	p.title= "Software Engineer"

	ul.social
		li
			a(href="https://www.youtube.com/channel/UCy0ozufXIKAtjRsTxD9VZNA")
				img(src="/images/youtube.png", class="youtubelogo")
		li
			a(href="https://github.com/macmittereder")
				img(src="/images/github.png", class="githublogo")
		li
			a(href="https://www.linkedin.com/in/mac-mittereder-7a248bb5/")
				img(src="/images/linkedin.png", class="linkedinlogo")

	.content
		.leftcontent
			.education
				p.eduTitle= "Education"
				table.college
					tr
						td
							p.schoolName= "Saint Vincent College | Latrobe, PA | 2014 - Current"
						td
					tr
						td
							p= "Major: Computing and Information Science"
						td
					tr
						td(colspan="2")
							hr
						td
					tr
						td
							p= "Courses Taken:"
					tr
						td
							p= "-C++ II"
						td
							p= "-Server Side Programming"
					tr
						td
							p= "-Computer Architecture and Operating Systems"
						td
							p= "-Data Structures"
					tr
						td
							p= "-Database Concepts and Information Structures"
						td
							p= "-Discrete Structures II"
					tr
						td
							p= "-Software Engineering"
						td
							p= "-Programming Languages"
				table.highschool
					tr
						td
							p.schoolName= "Franklin Regional | Murrysville, PA | 2001 - 2014"
					tr
						td(colspan="2")
							hr
					tr
						td
							p= "Classes Taken:"
					tr
						td
							p= "-AP Computer Science A & AB"
						td
							p= "-AP Enviromental Science"
					tr
						td
							p= "-Honors Accounting"
						td
							p= "-Honors Calculus"
					tr
						td
							p= "-Honors Physics"
						td
							p= "-Visual Basic"

		.rightcontent
			.computerskills
				p= ""

block append footer
