extends layout

block content
	.wrapper
		.row
			.col-md-12.text-center
				h1 Mac Mittereder
				h2 Software Engineer
				
		br
			
		.row
			.col-md-12.col-xs-12
				ul.social
					li
						a(href="https://www.youtube.com/channel/UCy0ozufXIKAtjRsTxD9VZNA")
							img.youtube(src="/images/icons/youtube.png")
					li
						a(href="https://www.linkedin.com/in/mac-mittereder-7a248bb5/")
							img.linkedin(src="/images/icons/linkedin.png")
								
		.container
			.row
				.col-md-6.col-xs-12.container-left
					.row
						.col-md-12.text-center.contact
							h2 Contact
							h3 Email: macmitt2300@gmail.com
					.row
						.col-md-12.col-xs-12.education
							h2.text-center Education
							.row
								.col-md-12.col-xs-12
									p.schoolName= "Saint Vincent College | Latrobe, PA | 2014 - 2018"
							.row
								.col-md-12.col-xs-12
									p= "Major: Computing and Information Science"
							hr
							.row
								.col-md-12.col-xs-12
									p= "Courses Taken:"
							.row
								.col-md-6.col-xs-6
									p= "-C++ II"
								.col-md-6.col-xs-6
									p= "-Server Side Programming"
							.row
								.col-md-6.col-xs-6
									p= "-Computer Architecture and Operating Systems"
								.col-md-6.col-xs-6
									p= "-Data Structures"
							.row
								.col-md-6.col-xs-6
									p= "-Database Concepts and Information Structures"
								.col-md-6.col-xs-6
									p= "-Discrete Structures II"
							.row
								.col-md-6.col-xs-6
									p= "-Software Engineering"
								.col-md-6.col-xs-6
									p= "-Programming Languages"
							.row
								.col-md-12.col-xs-12
									p.schoolName= "Franklin Regional | Murrysville, PA | 2001 - 2014"
							hr
							.row
								.col-md-12.col-xs-12
										p= "Classes Taken:"
							.row
								.col-md-6.col-xs-6
									p= "-AP Computer Science A & AB"
								.col-md-6.col-xs-6
									p= "-AP Enviromental Science"
							.row
								.col-md-6.col-xs-6
									p= "-Honors Accounting"
								.col-md-6.col-xs-6
									p= "-Honors Calculus"
							.row
								.col-md-6.col-xs-6
									p= "-Honors Physics"
								.col-md-6.col-xs-6
									p= "-Visual Basic"
					
				.col-md-6.col-xs-12.container-right
					.row
						.col-md-12.col-xs-12.computerskills
							h2.text-center Computer Skills
							.row
								.col-md-12.col-xs-12
									p.subtitle= "Computer Languages"
							.row.text-center
								.col-md-2.col-xs-2
									p= "-C++"
								.col-md-2.col-xs-2
									p= "-CSS"
								.col-md-2.col-xs-2
									p= "-HTML"
								.col-md-2.col-xs-2
									p= "-Java"
								.col-md-2.col-xs-2
									p= "-Objective-C"
								.col-md-2.col-xs-2
									p= "-XML"
							.row.text-center
								.col-md-2.col-xs-2
									p= "-C#"
								.col-md-2.col-xs-2
									p= "-JSON"
								.col-md-2.col-xs-2
									p= "-jQuery"
								.col-md-2.col-xs-2
									p= "-SASS"
								.col-md-2.col-xs-2
									p= "-Javascript"
								.col-md-2.col-xs-2
									p= "-Node.js"
							.row.text-center
								.col-md-2.col-xs-2
									p= "-XAML"
								.col-md-2.col-xs-2
									p= "-Swift"
								.col-md-2.col-xs-2
									p= "-PHP"
								.col-md-2.col-xs-2
									p= "-MySQL"
								.col-md-2.col-xs-2
									p= "-Visual Basic"
								.col-md-2.col-xs-2
									p= "-Pug"
							hr
							.row
								.col-md-12.col-xs-12
										p.subtitle= "IDE's"
							.row.text-center
								.col-md-3.col-xs-3
									p= "-Android Studio"
								.col-md-3.col-xs-3
									p= "-Dreamweaver"
								.col-md-3.col-xs-3
									p= "-IDLE"
								.col-md-3.col-xs-3
									p= "-Xamarin Studio"
							.row.text-center
								.col-md-3.col-xs-3
									p= "-Vim"
								.col-md-3.col-xs-3
									p= "-Atom"
								.col-md-3.col-xs-3
									p= "-Visual Studio"
								.col-md-3.col-xs-3
									p= "-Xcode"
							.row.text-center
								.col-md-3.col-xs-3
								.col-md-3.col-xs-3
									p= "-Eclipse"
								.col-md-3.col-xs-3
									p= "-Unity"
								.col-md-3.col-xs-3

					.row
						.col-md-12.col-xs-12.workexperience
							h2.text-center Work Experience
							.row
								.col-md-12.col-xs-12
									p.title= "aSa | Software Developer I | 5/2018 - Current"
									p= "Working on aSa.Studio software."
							hr
							.row
								.col-md-12.col-xs-12
									p.title= "ATS Evolution | Software Engineer Intern | 2/2017 - 12/2017"
									p= "Worked on multiple projects across products."
							hr
							.row
								.col-md-12.col-xs-12
									p.title= "TekSystems | Deployment Technician | 7/2015 - 9/2017"
									p= "Moving computers from the PNC complex in Pittsburgh to their new PNC tower." 
							hr
							.row
								.col-md-12.col-xs-12
									p.title= "Blast Off Apps | Contractor | 4/2015 - 7/2016"
									p= "Developed mobile apps for various clients on Android and iOS."
							hr
							.row
								.col-md-12.col-xs-12
									p.title= "Moe's Southwest Grill | Shift Manager | 11/2013 - 9/2017"
									p= "Added to my leadership experience in a team based enviroment and training coworkers."
									p= "Increased my social skills and patience with customers and coworkers."

block append footer
