extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/projects.css')

block content
	h2= "Projects"
	ul.projectnav
		li
			a(href="/projects/personalprojects") PERSOAL PROJECTS
		li
			a(href="/projects/contractorprojects") CONTRACTOR PROJECTS
		li
			a(href="/projects/inprogressprojects") INPROGRESS PROJECTS

	.card1
		img.card1(src="/images/fmpicon.png")
		.container1
		h4= "John Doe"
		p= "Architect and Engineer"

	.card2
		img.card2(src="/images/fricon.png")
		.container2
		h4= "John Doe"
		p= "Architect and Engineer"

	.card3
		img.card3(src="/images/lcicon.png")
		.container3
		h4= "John Doe"
		p= "Architect and Engineer"

	.card4
		img.card4(src="/images/ppicon.png")
		.container4
		h4= "John Doe"
		p= "Architect and Engineer"

	.card5
		img.card5(src="/images/dicon.png")
		.container5
		h4= "John Doe"
		p= "Architect and Engineer"

	.card6
		img.card6(src="/images/wamicon.png")
		.container6
		h4= "John Doe"
		p= "Architect and Engineer"
