extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/projects.css')

block content
	h2= "Projects"
	ul.projectnav
		li
			a(href="/projects/personalprojects") PERSOAL PROJECTS
		li
			a(href="/projects/contractorprojects") CONTRACTOR PROJECTS
		li
			a(href="/projects/inprogressprojects") INPROGRESS PROJECTS

	div
		table
			tbody
				tr.projectrow
					td.sidepadding
					td
						a(href="/projects/fastmoviephotos")
							.card
								img.card(src="/images/fmpicon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.middlepadding
					td
						a(href="/projects/franklinregional")
							.card
								img.card(src="/images/fricon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.middlepadding
					td
						a(href="/projects/lifecounter")
							.card
								img.card(src="/images/lcicon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.sidepadding
				tr.projectrow
					td.sidepadding
					td
						a(href="/projects/pinballprice")
							.card
								img.card(src="/images/ppicon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.middlepadding
					td
						a(href="/projects/vehicleapp")
							.card
								img.card(src="/images/dicon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.sidepadding
					td
						a(href="/projects/wordsandmusic")
							.card
								img.card(src="/images/wamicon.png")
								.container
									h4= "John Doe"
									p= "Architect and Engineer"
					td.sidepadding
