extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/projects.css')

block content
	h2= "Projects"
	table
		tbody
			tr
				td
					a(href="/projects/frameit")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Frame It"
								p= "Description"
				td
					a(href="/projects/franklinregional")
						.card
							img.card(src="/images/fricon.png")
							.container
								h4= "Franklin Regional"
								p= "Architect and Engineer"
				td
					a(href="/projects/lifecounter")
						.card
							img.card(src="/images/lcicon.png")
							.container
								h4= "Life Counter"
								p= "Description"
				td
					a(href="/projects/pinballprice")
						.card
							img.card(src="/images/ppicon.png")
							.container
								h4= "Pinball Price"
								p= "Description"
			tr
				td
					a(href="/projects/fastmoviephotos")
						.card
							img.card(src="/images/fmpicon.png")
							.container
								h4= "Fast Movie Photos"
								p= "Description"
				td
					a(href="/projects/graphgame")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Graph Game"
								p= "Description"
				td
					a(href="/projects/wordsandmusic")
						.card
							img.card(src="/images/wamicon.png")
							.container
								h4= "Words and Music"
								p= "Description"
				td
					a(href="/projects/vehicleapp")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Vehicle App"
								p= "Description"
				td
