extends layout

block append css
	link(rel='stylesheet', type='text/css', href='/css/projects.css')

block content
	h2= "Projects"
	table
		tbody
			tr
				td
					a(href="/projects/frameit")
						.card
							img.card(src="/images/fiicon.png")
							.container
								h4= "FrameIt"
								p= "Applies different borders to user's photos then can save the image and post it to Twitter or Facebook."
				td
					a(href="/projects/franklinregional")
						.card
							img.card(src="/images/fricon.png")
							.container
								h4= "Franklin Regional"
								p= "Notifies users about delays and cancellations using push notifications from Parse"
				td
					a(href="/projects/lifecounter")
						.card
							img.card(src="/images/lcicon.png")
							.container
								h4= "Life Counter"
								p= "A companion app to the card game Magic the Gathering."
				td
					a(href="/projects/pinballprice")
						.card
							img.card(src="/images/ppicon.png")
							.container
								h4= "Pinball Price"
								p= "Webview app of PinballPrice.com"
			tr
				td
					a(href="/projects/fastmoviephotos")
						.card
							img.card(src="/images/fmpicon.png")
							.container
								h4= "Fast Movie Photos"
								p= "Retrieves the client’s videos from a Parse database and allows you play it at various speeds."
				td
					a(href="/projects/graphgame")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Graph Game"
								p= "Uses graph theory for the different layouts while two players try to move their pebbles to win."
				td
					a(href="/projects/wordsandmusic")
						.card
							img.card(src="/images/wamicon.png")
							.container
								h4= "Words and Music"
								p= "Displays their bookstore inventory using a Parse database and allows users to use PayPal to purchase books."
				td
					a(href="/projects/vehicleapp")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Vehicle App"
								p= "Stores vehicle information for client using a Parse database so they can add vehicles and view them."
				td
			tr
				td
				td
					a(href="/projects/rockpaperscissors")
						.card
							img.card(src="/images/dicon.png")
							.container
								h4= "Rock, Paper, Scissors"
								p= "A simple rock, paper, scissors game."
				td
				td
